# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Chroma database
chroma_db/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
test_*.py
